@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Lato&display=swap');

// font-family: 'Cutive Mono', monospace;
// font-family: 'Lato', sans-serif;

body{
  background-color: #1c1c1c;
  color: #e6e7e8;
  font-family: 'Lato', sans-serif;
}

h1,h2,h3{
  font-family: 'Cutive Mono', monospace;
}